* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #0e70c0;
    color: white;
    font-family: sans-serif;
    height: 100vh;
    overflow: hidden;
}

a {
    text-decoration: none;
}


.header {
    display: flex;
    padding: 5px 10px;
    width: 70%;
    height: 80px;
    margin: 0 auto;
    justify-content: space-between;
    border-bottom: 3px solid black;
    margin-top: 20px;
}

.header__logo {
    line-height: 80px;
    font-size: 30px;
}

.header__user {
    display: flex;
    position: relative;
}

.header__username{
    padding-left: 10px;
    display: none;
}


#backButton {
    width: 70%;
    margin: 0 auto;
    padding: 10px 0;
}

.feature {
    width: 100%;
    margin: 0 auto;
    margin-top: 10px;
    display: flex;
}

.tableDiv {
    /* margin-top: 25px; */
    padding: 0px 50px 0 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.table1,
.table2,
tr,
td {
    border: 1px solid black;
    font-size: 12px;
    border-collapse: collapse;
    padding: 10px;
}

tr,
td {
    width: 150px;
}

.chart {
    width: 70%;
    padding: 0px 0px 0px 50px;
}


#myChart2 {
    background-color: #ddebf8;
}

.icon {
    font-size: 100px;
    text-align: center;
    height: 170px;
}

#data1,
#data2,
#data5,
#data6 {
    padding: 0px;
}

#dataBar1,
#dataBar2,
#dataBar5,
#dataBar6 {
    background-color: yellow;
    width: 0%;
    height: 25px;
}

/* login */

.modal{
    background-color: #efefef;
    color: black;
    padding: 10px;
    border-radius: 3px;
    position: absolute;
    top: 30px;
    /* right: 0px */

}

.modal__body, .modal__username, .modal__header{
    margin-bottom: 5px;
}

#LogOut, .modal{
    display: none;
}

.modal__header{
    font-weight: 600;
    text-align: center;
}

.modal__footer{
    float: right;
}

.modal__footer > button{
    padding: 3px 9px;
}

/* check */

#error_username, #error_password{
    color: red;
    font-size: 10px;
}

@media only screen and (max-width: 740px) {
    .header {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: auto;
        border-bottom: 3px solid black;
        padding-bottom: 10px;
    }

    .feature {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .chart {
        width: 100%;
        padding: 0;
        margin-bottom: 50px;
    }

    .tableDiv{
        padding: 0px;
    }

}