* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #0e70c0;
    color: white;
}

.header {
    display: flex;
    padding: 5px 10px;
    width: 70%;
    height: 80px;
    margin: 0 auto;
    justify-content: space-between;
    border-bottom: 3px solid black;
    margin-top: 20px;
}

.header__logo {
    line-height: 80px;
    font-size: 30px;
}

.header__user {
    display: flex;

}

.header__username {
    padding-left: 10px;
}

.feature {
    width: 100%;
    margin: 0 auto;
    margin-top: 10px;
    padding: 50px 0;
    display: flex;
}

.tableDiv{
    margin-top: 25px;
    padding: 5px 35px 0 50px;
}

.table1, .table2, tr, td{
    border: 1px solid black;
    font-size: 12px;
    border-collapse:collapse;
    padding: 10px;
}

tr, td{
    width: 150px
}

.chart{
    width: 65%;
    padding: 30px 0px 0px 35px;

}


#myChart2 {
    background-color: #ddebf8;
}

.icon{
    font-size: 100px;
    text-align: center;
    height: 200px;
}

#data1, #data2, #data5, #data6{
    padding: 0px;
}
#dataBar1, #dataBar2,#dataBar5,#dataBar6{
    background-color: yellow;
    width: 0%;
    height: 25px;
}

@media only screen and (max-width: 740px) {
    .header {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: auto;
        border-bottom: 3px solid black;
        padding-bottom: 10px;
    }

    .feature {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .chart{
        width: 100%;
        padding: 0;
        margin-bottom: 50px;
    }

}