*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #0e70c0;
    color: white;
}

.header{
    display: flex;
    padding: 5px 10px;
    width: 70%;
    height: 80px;
    margin: 0 auto;
    justify-content: space-between;
    border-bottom: 3px solid black;
    margin-top: 20px;
}

.header__logo{
    line-height: 80px;
    font-size: 30px;
}

.header__user{
    display: flex;
    /* align-self: flex-start; */
    
}

.header__username{
    padding-left: 10px;
}

.feature{
    width: 70%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    margin-top: 100px;
    /* border: 3px solid black; */
    padding: 50px 0;
}

.icon__{
    font-size: 10rem;
}

.userSetting{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 2px solid black;
    width: 25%;
    height: 280px;
}

.settei{
    margin-top: 10px;
}

/* Mobile: */
@media only screen and (max-width: 740px){
    .header{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0;
        height: auto;
        border-bottom: 3px solid black;
        padding-bottom: 20px;
    }

    .feature{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 100%;
        margin-top: 10px;
        /* border: 3px solid black; */
    }

    .userSetting{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        border: 2px solid black;
        width: 100%;
        height: 280px;
        margin-bottom: 20px;
    }


}

/* PC, tablet */
@media only screen and (min-width: 740px) and (max-width: 1024px){
    .feature{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 100%;
        margin-top: 10px;
        /* border: 3px solid black; */
    }

    .userSetting{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        border: 2px solid black;
        width: 100%;
        height: 280px;
        margin-bottom: 20px;
    }
}

