* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #0e70c0;
    color: white;
}

.header {
    display: flex;
    padding: 5px 10px;
    width: 70%;
    height: 80px;
    margin: 0 auto;
    justify-content: space-between;
    border-bottom: 3px solid black;
    margin-top: 20px;
}

.header__logo {
    line-height: 80px;
    font-size: 30px;
}

.header__user {
    display: flex;

}

.header__username {
    padding-left: 10px;
}

.feature {
    width: 70%;
    margin: 0 auto;
    margin-top: 20px;
}

.event-filter {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}

.button1 {
    display: flex;
    width: 50%;
    justify-content: space-evenly;
    padding: 10px 20px;
}

.button2 {
    display: flex;
    align-self: center;
}

.button>button,
.filter>button {
    padding: 10px 20px;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

.table {
    display: flex;
}

th {
    background-color: #022060;
}

tr:nth-child(2) {
    text-align: left;
}

.tableRednder {
    width: 100%;
}

@media only screen and (max-width: 740px){
    .header{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: auto;
        border-bottom: 3px solid black;
        padding-bottom: 10px;
    }

    .feature{
        width: 100%;
        
    }

    .event-filter{
        display: flex;
        flex-direction: column;
    }
    .button1{
        text-align: center;
        width: 100%;
    }

}