* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

body {
    background-color: #0e70c0;
    color: white;
    font-family: sans-serif;
    height: 100vh;
    overflow: hidden;
}

.header {
    display: flex;
    padding: 0px 10px;
    width: 70%;
    height: 60px;
    margin: 0 auto;
    justify-content: space-between;
    border-bottom: 3px solid black;
    margin-top: 20px;
}

.header__logo {
    line-height: 60px;
    font-size: 30px;
}

.header__user {
    display: flex;
    position: relative;

}

.header__username{
    padding-left: 10px;
    display: none;
}

.feature {
    width: 70%;
    margin: 0 auto;
    margin-top: 0px;
}

#backButton{
    width: 70%;
    margin: 0 auto;
    padding: 20px 0; 
}

.event-filter {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}

.button1 {
    display: flex;
    width: 50%;
    justify-content: space-evenly;
}


.button2 {
    display: flex;
    align-self: center;
    align-items: center;
}

.button2 > p{
    padding: 0px 20px;
}

.button>button {
    padding: 10px 5px;
}

.filter>button {
    padding: 0px 10px;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

.table {
    display: flex;
}

th {
    background-color: #022060;
}

tr:nth-child(2) {
    text-align: left;
}

.tableRednder {
    width: 100%;
}

/* login */

.modal{
    background-color: #efefef;
    color: black;
    padding: 10px;
    border-radius: 3px;
    position: absolute;
    top: 30px;
}

.modal__body, .modal__username, .modal__header{
    margin-bottom: 5px;
}

#LogOut, .modal{
    display: none;
}

.modal__header{
    font-weight: 600;
    text-align: center;
}

.modal__footer{
    float: right;
}

.modal__footer > button{
    padding: 3px 9px;
}

/* check */
#error_username, #error_password{
    color: red;
    font-size: 10px;
}

@media only screen and (max-width: 740px) {
    .header {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: auto;
        border-bottom: 3px solid black;
        padding-bottom: 10px;
    }

    .feature {
        width: 100%;
    }

    .event-filter {
        display: flex;
        flex-direction: column;
    }

    .button1 {
        text-align: center;
        width: 100%;
    }

}