*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

body{
    background-color: #0e70c0;
    color: white;
    font-family: sans-serif;

}

.header{
    display: flex;
    padding: 0px 10px;
    width: 70%;
    height: 60px;
    margin: 0 auto;
    justify-content: space-between;
    border-bottom: 3px solid black;
    margin-top: 20px;
}

.header__logo{
    line-height: 60px;
    font-size: 30px;
}

.header__user{
    display: flex;
    /* align-self: flex-start; */
    position: relative;

    
}

.header__username{
    padding-left: 10px;
    display: none;

}

.feature{
    width: 70%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    margin-top: 100px;
    /* border: 3px solid black; */
    padding: 50px 0;
}

#backButton{
    width: 70%;
    margin: 0 auto;
    padding: 20px 0; 
}

.icon__{
    font-size: 10rem;
}

.userSetting{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 2px solid black;
    width: 25%;
    height: 280px;
}

.settei{
    margin-top: 10px;
}

/* modal login */
.modal{
    background-color: #efefef;
    color: black;
    padding: 10px;
    border-radius: 3px;
    position: absolute;
    top: 30px;
    /* right: 0px */

}

.modal__body, .modal__username, .modal__header{
    margin-bottom: 5px;
}

#LogOut, .modal{
    display: none;
}

.modal__header{
    font-weight: 600;
    text-align: center;
}

.modal__footer{
    float: right;
}

.modal__footer > button{
    padding: 3px 9px;
}

/* check */

#error_username, #error_password{
    color: red;
    font-size: 10px;
}


/* Mobile: */
@media only screen and (max-width: 740px){
    .header{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0;
        height: auto;
        border-bottom: 3px solid black;
        padding-bottom: 20px;
    }

    .feature{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 100%;
        margin-top: 10px;
        /* border: 3px solid black; */
    }

    .userSetting{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        border: 2px solid black;
        width: 100%;
        height: 280px;
        margin-bottom: 20px;
    }


}

/* PC, tablet */
@media only screen and (min-width: 740px) and (max-width: 1024px){
    .feature{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 100%;
        margin-top: 10px;
        /* border: 3px solid black; */
    }

    .userSetting{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        border: 2px solid black;
        width: 100%;
        height: 280px;
        margin-bottom: 20px;
    }
}

